[Desktop Entry]
Name=CurvedVolatile
X-KDE-PluginInfo-Author=Linlinxza
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=archer_of_wisdom@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=1.0
